<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <provider
      android:name=".ChatStampFileProvider"
      android:authorities="${applicationId}.ChatStampFileProvider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
        android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/chatstamp_file_provider_paths" />
    </provider>
  </application>

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:mimeType="*/*" />
    </intent>
    <intent>
      <action android:name="android.intent.action.SEND" />
      <data android:mimeType="*/*" />
    </intent>
    <intent>
      <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
    </intent>
  </queries>
</manifest>
